body {
  padding: 0px;
  margin: 0px;
}

#manaita {
  border: 0px;
  padding: 0px;
  margin: 0px;
  position: fixed;
  background: goldenrod;
}

.cell {
  border: 0px;
  display: block;
  position: absolute;
  background: transparent;
}

.cell.nori {
  background: black;
}

.cell.shari {
  background: white;
}

.cell.toro {
  background: red;
}

.cell.salmon {
  background: pink;
}

.cell.unagi {
  background: saddlebrown;
}

.cell.avocado {
  background: green;
}

.front {
  z-index: 99;
}
